.edit-review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38rem;
    height: 28rem;
    margin-top: -2rem;
    /* margin-bottom: 120px; */
}

.edit-review-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.edit-review-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-review-header{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.edit-review-close-bttn{
    color: gray;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2rem;
}

.edit-review-close-bttn:hover{
    cursor: pointer;
}
.edit-review-input{
margin-top: 1rem;
width: 29rem;
height: 10rem;
border: 1px solid #202020;
border-radius: .6em
}

.edit-review-submit-button{
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    width: 11.5em;
    height: 2.6em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1.5rem;
}