img.review-icon {
    display:flex;
    justify-content:left;
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
}

div.reviewe-box {
  
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
div.review-box {
    padding: 20px;
    width: 40rem;
    word-wrap: break-word;
    /* border: 1px solid lightgray */
}

ul.review-border{
    padding: 0px 0px 0px 0px
}

div.review-name{
    padding-bottom: 25px;
    font-weight: 450;
}
div.review-text {
    font-weight: 320;
}
.editButtonRevieww{
    background: linear-gradient( #f6083f, #d42a79);
    color:white;
    height: 1.3rem;
    width: 1.5rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
}
.deleteButtonRevieww{
    background: linear-gradient( #f6083f, #d42a79);
    color:white;
    height: 1.3rem;
    width: 1.5rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-right: 20px;
}

.deleteButtonReview{
    
    background: linear-gradient( #f6083f, #d42a79);
    color:white;
    border: none;
    height: 1.9em;
    width: 1.9em;
    border-radius: .6em;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
      
}

.create-review-errors {
    padding-top: 17px;
}
.single-error{
    margin-bottom: 10px;
}

.stars-review{
   margin-bottom: .3rem;
}