a {
    color: black;
    text-decoration: none;
}
div{
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
   
}
.div > individual-spot-info{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    margin: 3%;
    gap: 1%;

}
.star-icon {
    display:inline-flex;
    height: 21px;
    width: 21px;
   
}

.preview-image {
    display:flex;
    justify-content: center;
    /* place-self: center; */
    height: 400px;
    width: 800px
}
