a {
    color: black;
    text-decoration: none;
}
div{
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
   
} 
.heart-icon{
    display: inline-flex;
    height: 13px;
    width: 13px;
    padding-right: 3px;
    background-color: black;

}

.mainpage-city-state {
    font-size: 15.9px;
    margin-top:-1rem;
    font-weight:450;
}

div.spots-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.spots-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.star-icon {
    display: inline-flex;
    height: 13px;
    width: 13px;
    padding-right: 3px;
   
}

.price-container {
    margin-bottom: .4rem;
    display: inline-flex;
}



img.spot-img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: .7em;
    margin-right: 2em;

}

div.spot-card-container {
    margin: .6em;
    width: 300px;
    min-height: 388px;

}

div.spot-info-container {
    display: flex;
    margin-top: .5em;
    min-height: 90px;
    justify-content: space-between;
    margin-bottom: 2em;
}

div.spot-info-left {
    display: flex;
    max-width: 75%;
    min-height: inherit;
    flex-direction: column;
    justify-content: space-between;
}

div.spot-info-right {
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    font-size: small;
    justify-content: space-around;
    margin-right: 1em;
}