
/* TODO Add site wide styles */



 * {
        font-family:Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
        sans-serif; 
}

/* html, body {
        height: 100%;
        width: 100%;
        margin: 0px;
    } */

    table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: .5px;
        border-color: grey;
    }