.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 34em;
    min-height: 34em;
  }
  
  .signup-form-input {
    min-width: 100%;
  }
    
  .signup-welcome {
    min-width: 100%;
  }
  
  .signup-sign {
    font-weight: 600;
  }
  h3.signup-welcome-h3 {
    text-align: start;
    font-weight: 500;
  }
  
  .signup-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 89%;
    padding: 1.4em;
    margin-bottom: 1.9em;
  }
  
  .signup-title {
    margin-bottom: 0.8em;
    display: block;
    min-width: 110%;
    text-align: center;
    border-bottom: 1px solid rgb(224, 219, 219);
    margin-top: -1.8em;
  }

  
  .submit-button.signup {
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    min-width: 37em;
    cursor: pointer;
  
  }
  
  .form-input {
    min-height: 2.5em;
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
  }
  
  .form-input.first {
    border-radius: .5em .5em 0px 0px;
    border-left: 1px solid #e3d5d5;
    border-right: 1px solid #e3d5d5;
    border-top: 1px solid #e3d5d5;
    border-bottom: none;
  }

    .form-input.mid {
    border-left: 1.5px solid #d1cfcf;
    border-right: 1.5px solid #d1cfcf;
    border-bottom: none;
    border-top: 1.5px solid #d1cfcf;
  }

  .form-input.last {
    border-radius: 0px 0px .5em .5em ;
    border-left: 1.5px solid #e3d5d5;
    border-right: 1.5px solid #e3d5d5;
    border-bottom: 1.5px solid #e3d5d5;
    border-top: 1.5px solid #e3d5d5;
  
  }
  
  .signup-form-errors{
    min-height: 3.6em;
    display: flex;
    align-items: center;
  }
  