  form.signup-modal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40%
  
  }

  .signup-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-height: 100%;
    padding: 1.7em;
    background-color: rgb(251, 248, 248);
    border-radius: 1.2em;
  }

  /* .signupbttndiv{
    min-height: 3.6em;
    display: flex;
    align-items: center;
  } */

  h3.signup-welcome-h3 {
    font-weight: 400;
  }
  
  
  .signup-title {
    margin-bottom: 0.8em;
    display: block;
    min-width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(224, 219, 219);
    margin-top: -0.9em;
    padding-bottom: 15px
  }

  
  button.submit-button.signup { 
    background: linear-gradient(0.25turn, #E61E4D, #D70666);
    color: white;
    border: none;
    height: 2.6em;
    border-radius: .5em;
    /* min-width: 32em; */
    width: 220px;
    cursor: pointer;
  
  } 
  
  .form-input {
    min-height: 2.5em;
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
  }
  
  .form-input.first {
    border-radius: .5em .5em 0px 0px;
    border-left: 1px solid #e3d5d5;
    border-right: 1px solid #e3d5d5;
    border-top: 1px solid #e3d5d5;
    border-bottom: none;
  }

    .form-input.mid {
    border-left: 1.5px solid #d1cfcf;
    border-right: 1.5px solid #d1cfcf;
    border-bottom: none;
    border-top: 1.5px solid #d1cfcf;
  }

  .form-input.last {
    border-radius: 0px 0px .5em .5em ;
    border-left: 1.5px solid #e3d5d5;
    border-right: 1.5px solid #e3d5d5;
    border-bottom: 1.5px solid #e3d5d5;
    border-top: 1.5px solid #e3d5d5;
  
  }
  
  .signup-form-errors{
    min-height: 3.6em;
    display: flex;
    align-items: center;
  }
  