nav.main-navbar {
    position: sticky;
    background-color: #ffffff;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(235, 228, 228);
    margin-bottom: 2em;
    height: 5em;
}
.svg-container{
    cursor: pointer;
}

.logo {
    max-height: 40px;
    max-width: 40px;
    padding-left: 50px;
    padding-bottom: 5px;
}
.textLogo{
    max-height: 85px;
    max-width: 85px;
    padding-bottom: 12px;
}
/* .entire-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(234, 229, 229);
    background-color: rgb(248, 244, 244);
    height: 80px;
    position: sticky;
} */