img.profile-icon{
  max-width: 1.7em;
  max-height: 1.7em;
  margin-top: 0;
  margin-bottom: 0;
}
div.profile-button-border {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2.8em;
  box-sizing: border-box;
  padding: 0;
  min-height: 39px;
  min-width: 78px;
  transition: all .2s ease;
  justify-self: flex-end;
  cursor: pointer;
}

div.profile-button-border:hover{
  box-shadow: 1px 5px 5px rgb(195, 195, 195) !important;
}


.host-hover-border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8em;
  min-height: 2em;
  border-radius: 2em;
}

.host-hover-border:hover {
  background-color: rgb(247, 243, 243);
}

img.triple-icon{
  max-width: .9em;
  margin-top: 0;
  margin-bottom: 0;
}


ul.profile-list {
  list-style-type: none;
}

.profile-list-item {
  color: black;
  text-decoration: none;
}


.become-host-link {
  color: black;
  text-decoration: none;
  font-size: .9rem;
}

div.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 14em;
  background-color: white;
  box-shadow: 1px -2px 4px rgb(195, 195, 195);
  border-radius: .4em;
  position: absolute;
  top: 85%;
  right: 6%;
  z-index: 1;
}
.hover-link {
  margin-left: -2em;
}

.hover-link:hover {
  margin-left: -1.5em;
  background-color: rgb(216, 207, 207);
}

.user-name-li {
  margin-left: -1.5em;
}
.become-host-link {
  color: black;
  text-decoration: none;
  font-size: .8rem;
}

div.profile-dropdown {
  display: flex;
  flex-direction: column;
  width: 14em;
  background-color: white;
  box-shadow: 1px -2px 4px rgb(195, 195, 195);
  border-radius: .5em;
  position: absolute;
  top: 89%;
  right: 5%;
  z-index: 2;
}
.hover-link {
  margin-left: -1.5em;
}

.hover-link:hover {
  margin-left: -2em;
  background-color: rgb(216, 207, 207);
}

.user-name-li {
  margin-left: -2em;
}




